// foregrounds
.-neg {
	.white;
}
.white {
	color: @color-white;
}
.darkblue {
	color: @color-darkblue;
}
.purple {
	color: @color-purple;
}
.silver {
	color: @color-silver;
}
// backgrounds
.bg--transparent {
	background-color: transparent;
}
.bg--white {
	background-color: @color-white;
}
.bg--alabaster {
	background-color: @color-alabaster;
}
.bg--darkblue {
	background-color: @color-darkblue;
}
.bg--purple {
	background-color: @color-purple;
}
.bg--silver {
	background-color: @color-silver;
}