/*	================================================== 
	Grid
	================================================== */

@screen-xxxs-min	: 375px;
@screen-xxxxs-max	: ( @screen-xxxs-min - 1 );
@screen-xxs-min		: 480px;
@screen-xxxs-max	: ( @screen-xxs-min - 1 );
@screen-xs-min		: 576px;
@screen-xxs-max		: ( @screen-xs-min - 1 );
@screen-sm-min		: 768px;
@screen-xs-max		: ( @screen-sm-min - 1 );
@screen-md-min		: 1024px;
@screen-sm-max		: ( @screen-md-min - 1 );
@screen-lg-min		: 1280px;
@screen-md-max		: ( @screen-lg-min - 1 );
@screen-xl-min		: 1440px;
@screen-lg-max		: ( @screen-xl-min - 1 );
@screen-xxl-min		: 1920px;
@screen-xl-max		: ( @screen-xxl-min - 1 );

@grid-max-w 		: 1280px;
@base 				: 1rem;

*, *:before, *:after {
  box-sizing: border-box;
}
.edge {
	padding-left: var(--edge);
	padding-right: var(--edge);
}
.gutter {
	padding-left: var(--gutter);
	padding-right: var(--gutter);
}
.gutter--vert {
	padding-top: var(--gutter);
	padding-bottom: var(--gutter);
}
.grid {
	position: relative;
	display: grid;
	grid-template-columns: minmax( var(--edge), 1fr ) repeat( 12, minmax( 0, calc( var(--grid-max-w) / 12 ) ) ) minmax( var(--edge), 1fr );
	grid-template-rows: auto;
}
.row {
	box-sizing: border-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex: 0 1 auto;
	-webkit-box-flex: 0;
	flex: 0 1 auto;
	-ms-flex-direction: row;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.row--gutter {
	margin-left: calc(-1 * var(--gutter));
	margin-right: calc(-1 * var(--gutter));
}
.col {
	position: relative;
	box-sizing: border-box;
	.gutter;
	flex: 1 0 auto;
}
@-ms-viewport {
	width: device-width;
}