/*	================================================  
	Helpers
	================================================  */
.sr-only {
	border: 0 none;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.nowrap {
	white-space: nowrap;
}
.hidden {
	display: none;
}
.invisible {
	visibility: hidden;
}
.clearfix {
	&:after {
		clear: both;
	}
	&:before, &:after {
		content: ' ';
		display: table;
	}
}
.align--l {
	text-align: left;
}
.align--c {
	text-align: center;
}
.align--r {
	text-align: right;
}
.nowrap {
	white-space: nowrap;
}
.inherit--font {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}
.dist--t-0 {
	margin-top: 0;
	padding-top: 0;
}
.dist--b-0 {
	margin-bottom: 0;
	padding-bottom: 0;
}
.dist--margin {
	margin-bottom: var(--dist);
	margin-top: var(--dist);
}
.dist--b-margin {
	margin-bottom: var(--dist);
}
.dist--t-margin {
	margin-top: var(--dist);
}
.dist--semi-margin {
	margin-bottom: var(--dist-semi);
	margin-top: var(--dist-semi);
}
.dist--semi-b-margin {
	margin-bottom: var(--dist-semi);
}
.dist--semi-t-margin {
	margin-top: var(--dist-semi);
}
.dist--pad {
	padding-bottom: var(--dist);
	padding-top: var(--dist);
}
.dist--b-pad {
	padding-bottom: var(--dist);
}
.dist--t-pad {
	padding-top: var(--dist);
}
.dist--semi-pad {
	padding-bottom: var(--dist-semi);
	padding-top: var(--dist-semi);
}
.dist--semi-b-pad {
	padding-bottom: var(--dist-semi);
}
.dist--semi-t-pad {
	padding-top: var(--dist-semi);
}